.login-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1.5em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  border: 3px solid black;
  padding: 3em;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.password-input {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 2px solid #ccc;
}

.submit-button {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 2px solid #1a4;
  background-color: #1c4;
  color: #fff;
  font-size: larger;
  align-items: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 0.25em;
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button:active {
  background-color: #1a4;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: gray;
  border: 2px solid #999;
  cursor: initial;
}
.rotating {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
