@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin print() {
  @media print {
    @content;
  }
}

@mixin standalone() {
  @media (display-mode: standalone) {
    @content;
  }
}

.no-print,
.no-print * {
  @include print() {
    display: none !important;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-spin-button::-webkit-inner-spin-button,
.no-spin-button::-webkit-outer-spin-button {
  display: none;
  margin: 0;
}
